<div class="row">
<div class="col-sm-4">
  <div class="card bg-dark text-light">
    <h5 class="card-header">Axtarış</h5>
    
    <div class="card-body">
      <h6 class="card-title" style="font-size: 18px"><b>Cəmi '{{products_count}}' məhsul</b></h6>

{{!-- input --}}
<form action="/search" class="row g-3">
<div class="col-auto">
      <input name="q" id="q" placeholder="Aramanız" style="margin-left:-15px" type="text" class="form-control">
<div class="col-auto">
      <button type="submit" class="btn btn-outline-primary" style="margin-top:5px;margin-left:-30px">Axtar <i class="bi bi-search"></i></button>

</div>
</div>
      </form>

    </div>
  </div>
</div>

    {{#each products}}

  <div class="col col-6 col-md-4 col-lg-2">
<a href="/product/{{_id}}" class="text-decoration-none">
    <div class="card bg-dark text-light zoom-in">
      <img src="/img/banner/{{banner}}" alt="bein connect" class="card-img-top product-cover" style="border-radius: 3px">
      <h6 class="card-title" style="margin-left: 5px;margin-right:5px">{{name}}</h6>

      <ul class="list-group list-group-flash bg-dark text-light">
        <li class="list-group-item bg-dark text-light">{{price}} ₼</li>
      </ul>
    </div>
</a>
  </div>

    {{/each}}





</div>



<style>
  .product-cover{
    height: 150px;
      object-fit: cover;

  }
  .col{
    margin-top:7px
  }

</style>

